@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    
}

.header{
    background-color: #1F2937;
    color: white;
    height: 550px;
}

.logo{
    font-weight: bold;
    margin-left: 150px;
    font-size: 24px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 14px;
    align-items: center;
    margin-right: 200px;
}

a{
    text-decoration: none;
    color: white;
}

.hero{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 70px;
}

.hero .hero-text{
    margin-left: 150px;
}

.hero-text{
    width: 400px;
    height: 150px;
}

.image{
    background-color: rgb(206, 206, 206);
    height: 150px;
    width: 300px;
    margin-right: 200px;
    margin-top: 20px;
}

.placeholder{
    color: rgb(255, 255, 255);
    font-size: 13px;
    display: flex;
    justify-content: center;
    padding-top: 65px;
}

.text{
    font-size: 43px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.subtext{
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.sign-up {
    color: white;
    background-color: #3882F6;
    border: none;
    margin: 0;
    width: 100px;
    height: 28px;
    border-radius: 5px;
    margin-top: 10px; 
}

.info-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}    

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boximg{
    width: 125px;
    height: 125px;
    border: 2px solid #3882F6;
    display: flex;
    border-radius: 10px;
    
}

.info-box .subtext{
    text-align: center;
    color: grey;
    width: 200px;
    padding-top: 10px;
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 400px;
    align-items: center;
}

.quote-box{
    width: 500px;
    
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-info{
    padding-top: 10px;
    text-align: right;
    font-size: 20px;
    font-weight: 900;
}

.call{
    background-color: #3882F6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 350px;
    margin-right: 350px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 200px;
}

.call-title{
    display: flex;
    flex-direction: column;

}

.call .sign-up{
    border: 2px solid white;
}

.call-container{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.footer-text{
    color: white;
}